<%= link_to blog_path, class: 'inline-block hover:bg-transparent border hover:text-black active:text-yellow-300 border-yellow-300 p-2 mt-4 ml-8 rounded' do %>
  <span class="text-yellow-300">&lt; back</span>
<% end %>

<div class="container container bg-black mx-auto px-8 sm:px-0 mt-8">
  <div class="post-header text-yellow-300 text-7xl">
    <%= @post.title %>
  </div>

  <div class="sub-header mt-4 flex items-center">
    <div class="avatar group w-10 h-10 rounded-full overflow-hidden shadow-inner text-center table border-2 border-yellow-500">
      <%= image_tag "me.jpeg", class: 'object-cover object-center w-full h-full visible group-hover:hidden' %>
    </div>
    <div><span class="author-name text-yellow-300 ml-4">josé tapadas alves</span> <span class="date ml-4 text-gray-400"><%= time_ago_in_words(@post.published_at) %> ago</span></div>
  </div>

  <div class="description text-3xl text-white mt-8 font-thin leading-relaxed">
    <%= @post.description %>
  </div>
</div>

<div class="mt-10 mb-12 header max-h-80 overflow-hidden bg-fixed bg-center bg-cover">
  <% if @post.header_image.present? %>
    <%= image_tag @post.header_image %>
  <% end %>
</div>

<div class="container container bg-black mx-auto px-8 sm:px-0 mt-10 text-xl text-white leading-relaxed">
  <% @post.elements.order(position: :asc).each do |element| %>
    <% if element.paragraph? %>
      <p>
        <%= element.content %>
      </p>
    <% elsif element.image? %>              
      <div class="relative mb-6 mt-6">
        <%= image_tag element.image %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container container bg-black mx-auto px-8 sm:px-0 mt-4">
  <div class="footer mt-60 mb-10 pl-8 pr-8 border-t border-gray-500">
    <div class="flex items-center mt-8">
      <div class="avatar group w-20 h-20 rounded-full overflow-hidden shadow-inner text-center table border-2 border-yellow-500">
        <%= image_tag "me.jpeg", class: 'object-cover object-center w-full h-full visible group-hover:hidden' %>
      </div>
      <div class="footer-bio pl-8 text-lg font-thin text-gray-400">
        Recovering Telecommunications engineer and software tinkerer. Passionate Rubyist and JavaScript zealot. Music and life enthusiast.
        <div class="footer-bio text-sm text-gray-500 uppercase text-thin mt-4">
          José Tapadas Alves
        </div>
      </div>
    </div>
  </div>
</div>